<!--С помощью выражения {% extends "base.html" %} определяем,
    какой базовый шаблон будет расширяться.
    Затем определяется содержимое для блоков title и header.
    Стоит отметить, что необязательно указывать содержимое для всех блоков базового шаблона.
    Также создадим шаблон-->
{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
<!--Основная фишка шаблонов Django — наследование.
    Шаблон может расширять (уточнять) поведение родительского шаблона.
    Любой участок шаблона может быть обернут в блочный тег
    (естественно, что тег не может начинаться перед, а заканчиваться внутри цикла).
    Блоку дается имя. Например:
    {% block content %}
	тело блока
    {% endblock %}
    При помощи тега extend мы указываем, какой шаблон мы будем уточнять.
    Расширяя шаблон, мы можем переопредилить любые блоки,
    которые есть в родительском шаблоне.
    Все, что находится вне этих блоков, будет пропущено.
    Получается мощный механизм,
    практически исключающий необходимость повторения частей шаблонов.-->

{% block content %}
    <div class="row">
        <h1 class="col-12 col-md6 display-2">Одежда</h1>
    </div>
{% endblock %}
